<!DOCTYPE HTML>
<html>
<body>
<div class="container">
    <form action="/members/findPass" method="post">
        <div class="form-group">
            <label>아이디</label>
            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
            <br>
            <label>e-mail</label>
            <input type="text" id="email" name="email" placeholder="E-mail 입력하세요">
        </div>
        <button type="submit">패스워드 찾기</button>
        <br>
    </form>
</div> <!-- /container -->
</body>
</html>