<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <tr th:each="OauthMembers : ${OauthMembers}">
            myID = <td th:text="${OauthMembers.id}"></td>
        </tr>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <TH>EMAIL</TH>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>

